<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head >
    <meta charset="UTF-8"/>
    <title>Mouseover Event</title>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
    <link  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <link  rel="stylesheet" th:href="@{/css/shareservice.css}"/>
    <link  rel="stylesheet" th:href="@{/css/bootstrap.css}"/>


    <script>
         window.addEventListener("load", function() {
            let list = document.getElementById("lane-list");
            list.addEventListener("mouseover", function (event) {
               let element = event.target;
               element.innerHTML += ">";
               console.log("target", element);
            });
         });
   </script>

</head>
<body  class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1>Recreation time .....</h1>

<h3>Mouseover Race</h3>
<ul id="lane-list">
    <li>Lane 1:</li>
    <li>Lane 2:</li>
    <li>Lane 3:</li>
</ul>


<div th:replace="fragments :: footer"></div>
</body>
</html>