<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Search Jokes</title>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <link  rel="stylesheet" th:href="@{/css/shareservice.css}"/>
    <link  rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

</head>
<body  class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1>Web API Skills Show:</h1>

<form th:action="@{/recreation/searchJokes}" method = "post">
    <h2>
        <label for="searchTerm">Search Jokes from www.icanhazdadjoke.com:（the total is ten)</label>
        <input type="text" name="searchTerm" id="searchTerm" />
    </h2>
    <h4>
        <label for="searchTerm">How many items do you want to display on one page:</label>
        <input type="text" name="limit" id="limit" />
    </h4>
    <h4>
        <label for="searchTerm">Which page do you want to go to？</label>
        <input type="text" name="page" id="page" />
    </h4>

    <input type="submit" value="Search Jokes" />
</form>

<hr />



<div th:replace="fragments :: footer"></div>
</body>
</html>