<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation1"></nav>
<nav th:replace="fragments :: navigation2"></nav>

<h1 th:text="${title}"></h1>


<p th:unless="${zipCodes} and ${zipCodes.size()}" style="color:red">no zip code!</p>

<ul>
    <li th:each="zipCode : ${zipCodes}">
        <a th:href="@{'/zipCodes/view/' + ${zipCode.id}}" th:text="${zipCode.name}"></a>
    </li>
</ul>
<a th:href="@{'/zipCodes/add'}">Add Zip Code</a>



<div th:replace="fragments :: footer"></div>
</body>