<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Share Service-David Dong</title>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
    <link  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <link  rel="stylesheet" th:href="@{/css/shareservice.css}"/>
    <link  rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body class="container">

<nav th:fragment="navigation" class="topnav" >
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/mainpage">Main Page</a></li>
        <li class="nav-item"><a class="nav-link" href="/register" >Register</a></li>
        <li class="nav-item"><a class="nav-link" href="/login" >Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout" >Logout</a></li>
    </ul>
</nav>

<nav th:fragment="navigation1" class="topnav" >
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/mainpage">Main Page</a></li>
        <li class="nav-item"><a class="nav-link" href="/acNeedsRepairing/add">Add AcNeedsRepairing</a></li>

        <li class="nav-item"><a class="nav-link" href="/logout" >Logout</a></li>
    </ul>
</nav>

<nav th:fragment="navigation2" class="navx">
    <ul class="list">
        <li><a href="/zipCodes/add">Add Zip Code</a></li>
        <li><a href="/zipCodes/delete">Delete Zip Codes</a></li>

    </ul>
</nav>

<nav th:fragment="navigation3" class="navx">
    <ul class="list">
        <li><a href="/problems/add">Add Problem</a></li>
        <li><a href="/problems/delete">Delete Problems</a></li>

    </ul>
</nav>

<nav th:fragment="navigation4" class="navx">
    <ul class="list">
        <li><a href="/states/add">Add State</a></li>
        <li><a href="/states/delete">Delete States</a></li>

    </ul>
</nav>
<footer th:fragment="footer" class="footer">
    <p>Author: David Dong            Email: daviddong201712@gmail.com</p>
</footer>

</body>
</html>