<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body  class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1>Category</h1>
<h4><a href="/">Search</a></h4>

<h3>Repairing</h3>
<h5><a href="/comingsoon/index">House needs repairing</a></h5>
<h5><a href="/acneedsrepairing">AC needs repairing</a></h5>



<h3>Service</h3>
<h5><a href="/comingsoon/index">Car seats share</a></h5>
<h5><a href="/comingsoon/index">Room shared</a></h5>
<h5><a href="/comingsoon/index">Lawn service</a></h5>
<h5><a href="/comingsoon/index">Babysitter service</a></h5>
<h5><a href="/comingsoon/index">House needs clearing</a></h5>

<div th:replace="fragments :: footer"></div>
</body>
</html>