<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body  class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1>Wanted</h1>
<h3><a href="/acneedsrepairing">AC needs repairing</a></h3>
<h3><a href="/lawnservice">Lawn service</a></h3>
<h3><a href="/needsbabysitter/index">Babysitter</a></h3>

<h1>Provide</h1>
<h3><a href="/">AC service</a></h3>
<h3><a href="/">Lawn service</a></h3>
<h3><a href="/">Babysitter service</a></h3>

<div th:replace="fragments :: footer"></div>
</body>
</html>